body{
    width: 100vw;
    height: 2840px;
    align-items: center;
    padding: 0;
    margin: 0;
}


.nav{
    position: absolute;
    padding: 0;
    margin-left: 380px;
    margin-top: 115px;
   
}
ul{
    margin: 0;
    padding: 0px;
    list-style: none;
    margin: 10px;
}
ul li {
    float: left;
    width: 150px;
    text-align:center;
    
}

ul li a{
    text-decoration: none;
    font-size: 18px;  
    color: black;
    display: block;
    background: white;
    opacity: .8;
  
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
.nav ul li a:hover{
    color: #EF3C5F;
    background-color: #fff;
    border-radius: 10px;
  }

  .search{
    width: 100%;
    height:60px;
    
  }
  .search_bar{
      position: absolute;
      width: 158px;
      height: 10px;
      padding: 10px;
      margin-top:23px;
      margin-left: 1200px;
      background-color: #C4C4C4;
      border-radius: 100px 100px 100px 100px;
      border-style: none;
  }
  .search_icon{
      position: absolute;
      width: 14px;
      height: 14px;
      padding: 0;
      margin-top:32px;
      margin-left: 1355px;
  } 

  .logo{
      margin-left: 66px;
  }
  .logo_img{
    position: absolute;
    width: 300px;
    height: 88px;
    padding: 0;
  }

  .header_icon{
    position: absolute;
    margin-left: 1290px;
    margin-top: -45px;

  }
  .login{
    height: 35px;
    width: 35px;
  }
  .cart{
      height: 35px;
      width: 35px;
  }

.slider{
    width: 100vw;
    height: 675px;
    overflow: hidden;
    
}
.slides{
    width: 100vw;
    height: 675px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 100%;
    transition: 2s;
}   
.slide img{
    width: 100vw;
    height: 675px;
}
/* navigation manual */
.navigation_manual{
    position: absolute;
    width: 800px;
    margin-left: 330px;
    margin-top: 640px;
    display: flex;
    justify-content: center;
}
.manual_btn{
    border: rgba(255, 255, 255, 0.671) 2px solid;
    padding: 10px;
    border-radius: 100px 100px 100px 100px ;
    cursor: pointer;
    transition: 1s;
}
.manual_btn:not(:last-child){
    margin-right: 40px;
}
.manual_btn:hover{
    background-color: #EF3C5F;
}
#radio1:checked~.first{
    margin-left: 0;
}
#radio2:checked~.first{
    margin-left: -100vw;
}
#radio3:checked~.first{
    margin-left: -200vw;
}
#radio4:checked~.first{
    margin-left: -300vw;
}
/* navigation auto */
.navigation_auto{
    position: absolute;
    width: 800px;
    margin-left: 330px;
    margin-top: 640px;
    display: flex;
    justify-content: center;

}
.navigation_auto div{
    border: rgba(255, 255, 255, 0.671) 2px solid;
    padding: 10px;
    border-radius: 100px 100px 100px 100px ;
    cursor: pointer;
    transition: 1s;
}
.navigation_auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked~ .navigation_auto .auto_btn1 {
    background-color: #EF3C5F
}
#radio2:checked~ .navigation_auto .auto_btn2 {
    background-color: #EF3C5F
}
#radio3:checked~ .navigation_auto .auto_btn3 {
    background-color: #EF3C5F
}
#radio4:checked~ .navigation_auto .auto_btn4 {
    background-color: #EF3C5F
}

.liner_img{
    position: relative;
    padding: 0;
    width: 100vw;
    margin-top: 28px;
    margin-left: 155px;
    
}
.liner_img img{
    position: absolute;
    width: 1146px;
    height: 108px;
}

.newproduct{
    width: 1280px;
    height: 650px;
    /* background-color:grey; */
    margin:70px auto 0;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.newproduct .box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color:#EF3C5F;
    margin: 10px;
    box-sizing: border-box;
    display: inline;
}
